<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-175204-20"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-175204-20');
    </script>

    <meta charset="UTF-8">
    <title>kdict.org - Free Open Source Korean-English Dictionary</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>kdict.org - Free Open Source Korean-English Dictionary</h1>

        {% block content %}
        {% endblock %}

        <hr/>
        <p>kdict.org uses the data from <a href="https://github.com/mhagiwara/cc-kedict">CC-KEDICT</a>, an open-source Korean-English dictionary available under <a href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike (CC BY-SA 3.0) License</a>.</p>
    </div>
</body>
</html>
