<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-175204-20"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-175204-20');
    </script>

    <meta charset="UTF-8">
    <title>kdict.org - Free Open Source Korean-English Dictionary</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <h1>kdict.org - Free Open Source Korean-English Dictionary</h1>

    {% block content %}
    {% endblock %}

    <p>kdict.org uses the data from <a href="https://github.com/mhagiwara/cc-kedict">CC-KEDICT</a>, an open-source Korean-English dictionary available under <a href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike (CC BY-SA 3.0) License</a>.</p>
</body>
</html>
