{% extends "base.html" %}

{% block content %}
<form action="/search" method="GET">
    <input name="q" type="text" value="{{ query }}">
    <input type="submit" value="Search">
</form>

<div id="serp">
    <ul>
    {% for hit in hits%}
        <li>
            <span class="word">
                <a href="/word/{{ hit['word_id'] }}">{{ hit['word'] }}</a>
            </span>
            <span class="romaja">{{ hit['romaja'] }}</span>
            <span class="defs">{{ hit['defs_all'] }}</span>
        </li>
    {% endfor %}
    </ul>

    <ul class="pagination">
        {% for page in pagination %}
        <li class="page-item">
            {% if page['active'] %} <b> {% endif %}
            <a class="page-link" href="{{ page['link'] }}">{{ page['page'] }}</a>
            {% if page['active'] %} </b> {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
