{% extends "base.html" %}

{% block content %}

<div>
    <span class="word">{{ entry['word'] }}</span>
    <span class="romaja">{{ entry['romaja'] }}</span>
    <span class="hanja">{{ entry['hanja'] }}</span>
</div>

<div>
    {{ entry['pos'] }}
</div>

<ul>
    {% for def in entry['defs'] %}
    <li>
        {{ def['def'] }}
        {% if 'examples' in def %}
            <ul>
            {% for example in def['examples'] %}
                <li>
                    <div>{{ example['example'] }}</div>
                    <div class="transliteration">{{ example['transliteration'] }}</div>
                    <div>{{ example['translation'] }}</div>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    </li>
    {% endfor %}
</ul>

{% endblock %}
